/* html {
  font-size: calc(1em + 1vw);
} */
/* @media screen and (min-width: 50em) {
  html {
    font-size: 2vw;
  }
} */
/* @media screen and (min-width: 75em) {
  html {
    font-size: 1em;
  }
} */
/* normal */

h3 {
  font-weight: bold;
}

body {
  opacity: 1;
  transition: 2s opacity;
}
body.fade-out {
  opacity: 0;
  transition: none;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.page {
  opacity: 1;
  animation-duration: 2s;
  animation-name: fadein;
  animation-timing-function: easein;
}
@font-face {
  font-family: Poppins-Regular;
  src: url(../../fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins-ExtraBold;
  src: url(../../fonts/Poppins-ExtraBold.ttf);
}
* {
  font-family: Poppins-Regular;
  color: black;
}
@media only screen and (max-width: 480px) {
  html {
    width: 100vw;
    overflow-x: hidden;
  }
}
h3 {
  font-family: Poppins-ExtraBold;
  font-size: 20px;
}

p {
  font-size: 16px;
}
/* 
1rem = 16px
1.75rem=28px */
.btn-sample {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #b663c7;
  *background-color: #b663c7;
  background-image: -moz-linear-gradient(top, #4b21b5, #b663c7);
  background-image: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#4b21b5),
    to(#b663c7)
  );
  background-image: -webkit-linear-gradient(top, #4b21b5, #b663c7);
  background-image: -o-linear-gradient(top, #4b21b5, #b663c7);
  background-image: linear-gradient(to bottom, #4b21b5, #b663c7);
  background-repeat: repeat-x;
  border-color: #b663c7;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4B21B5', endColorstr='#B663C7', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.btn-sample:hover,
.btn-sample:focus,
.btn-sample:active,
.btn-sample.active,
.btn-sample.disabled,
.btn-sample[disabled],
.btn-sample {
  color: #ffffff;
  background-color: #b663c7;
  *background-color: #003bb3;
  width: 200px;
  margin: 0 auto;
}
.btn-sample input {
  background: none;
  border: none;
  outline: none;
  color: white;
}

/* HEADER MENU NAV */

/* .navbar-nav {
}
#menu-header-menu {
  align-content: center;
} */

.menu {
  /* display: inline-block; */
  list-style: none;
  padding: 0;
}
/* .collapsed {
  padding: 0;
  margin: 0;
} */
.show {
}

.navbar {
  position: relative;
  display: flex;
  justify-content: center;
}
#menu-header-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* top: 2rem; */
}
/* @media screen and (max-width: 900px) {
  .menu {
    display: inline-block;
  }
} */

@media screen and (min-width: 768px) {
  .menu {
    display: flex;
    padding-left: 5px;

    margin-bottom: 0;
  }
  #menu-header-menu {
    flex-direction: row;
  }
  /* .menu-item a {
    color: #000;
    font-size: 16px;
  } */
}

.menu-item {
  padding: 5px;
  margin: 5px;
  margin-right: 5px;
}
.menu-item a {
  color: #000;
  font-size: 15px;
}
.menu-item:hover a {
  text-decoration: none !important;
}
#menu-header-menu .menu-item:hover,
#menu-header-menu .current-menu-item {
  background-color: #acfcd9;
  border-radius: 5px;
}

/* FOOTER MENU NAV */

.footer-links__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menu-footer-menu {
  flex-direction: column;
  padding-left: 0;
}
#menu-footer-menu li {
  padding-left: 0;
}
