/* SERVICES PAGE */
.services-page__hero-container {
  background-color: #acfcd9;
}

.services-page__outcomes-section {
  border: 3px solid rgb(85, 214, 190);
}

.services-page__info-section {
  border-bottom: 2px solid rgb(221, 221, 221);
  padding-top: 10px;
}

/* SERVICES - WORKSHOP */

.services__body p {
  margin: 0;
}

.workshop-description {
  position: relative;
  width: calc(100% - 200px);
}
.workshop-learningOutcomes__container {
  border: 2px solid rgb(85, 214, 190);
  position: relative;
}
.workshop-learning-outcomes li {
  white-space: normal;
}
.workshop-learning-outcomes {
  width: calc(100%);
}
.workshop-learning-outcomes p {
  margin-bottom: 0;
  /* flex-wrap: wrap; */
}

.workshop-image {
  position: absolute;
  bottom: 30%;
  /* right: -20px; */
}
/* .workshop-image img {
  width: 300px;
} */

.workshop-content--has-img {
  width: calc(100% - 320px);
  max-width: 100%;
}
@media screen and (min-width: 930px) {
  .workshop-image {
    position: absolute;
    right: -70px;
  }
}
@media screen and (min-width: 1200px) {
  .workshop-image {
    position: absolute;
    right: -20px;
  }
}
@media screen and (max-width: 768px) {
  .workshop-image {
    position: absolute;
    right: -70px;
  }
  .workshop-image img {
    width: 100%;
    right: -70px;
  }
  .workshop-content--has-img {
    width: 100% !important;
  }
  .workshop-learningOutcomes__container {
    flex-direction: column-reverse;
    width: calc(100%);
  }
}
/* @media screen and (min-width:994px) {
  .workshop-description {
    position: relative;
    width: calc(100% - 800px );
}
} */
@media screen and (max-width: 991px) {
  .workshop-description {
    position: relative;
    width: calc(100%);
  }
}
