/* SERVICES PAGE */

/* .wave {
  background: transparent;
  height: 50px;
  position: absolute;
  padding: 0;
}
.wave::before {
  padding: 0;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 10px;
  background-size: 20px 20px;
  background-image: radial-gradient(
    circle at 10px -5px,
    transparent 12px,
    aquamarine 13px
  );
}
.wave::after {
  z-index: -1;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-repeat: repeat;
  height: 15px;
  background-size: 40px 20px;
  background-image: radial-gradient(
    circle at 10px 15px,
    aquamarine 12px,
    transparent 13px
  );
} */

/* .services-page__hero-container {
  background: #acfcd9; */

/* background-color: rgb(252, 100, 113); */
/* display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
  padding: 0;
}*/

/* .services-page__hero-container {
  background: rgb(252, 100, 113); */
/* display: inline-block; */
/* position: relative;
  width: 100%; */
/* padding-bottom: 100%;
  vertical-align: middle; */
/* 
  padding: 0;
}
.services-page__outcomes-section {
  border: 3px solid rgb(85, 214, 190);
}

.services-page__info-section {
  border-bottom: 2px solid rgb(221, 221, 221);
} */

/* SERVICES - WORKSHOP */

/* .services__body p {
  margin: 0;
}

.workshop-description {
  position: relative;
  width: calc(100% - 300px);
}
.workshop-learningOutcomes__container {
  border: 2px solid rgb(85, 214, 190);
  position: relative;
}
.workshop-learning-outcomes li {
  white-space: normal;
}
.workshop-learning-outcomes {
  width: calc(100%);
}
.workshop-learning-outcomes p {
  margin-bottom: 0;
}

.workshop-image {
  position: absolute;
  bottom: 30%;
  right: -25px;
}

.workshop-content--has-img {
  width: calc(100% - 320px);
  max-width: 100%;
} */

/* @media screen and (max-width: 768px) {
  .workshop-image {
    position: absolute;
  }
  .workshop-image img {
    width: 100%;
  }
  .workshop-content--has-img {
    width: 100% !important;
  }
  .workshop-learningOutcomes__container {
    flex-direction: column-reverse;
    width: calc(100%);
  }
}

@media screen and (max-width: 1000px) {
  .workshop-description {
    position: relative;
    width: calc(100%);
  }
} */
/* 
.bg-svg-container {
  background-color: rgb(85, 214, 190);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  padding: 0;
  width: 100%;
  height: 100%;
}

.bg-svg-container::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  max-width: 500px;
  right: 0;
  background-image: url("../../images/svg/green-wave.svg");
  /* background-size: 100% auto;
  background-position: right; */
/* } */

/* @media screen and (max-width: 1199px) {
  .bg-svg-container::after {
    background-image: none;
  }
} */

/* @media screen and (max-width: 360px) {
  .bg-svg-container::after {
    background-image: none;
  }
} */
